/Java/EjercicioCiclos05/nbproject/private/
/Java/EjercicioCiclos05/build/
.vscode/settings.json
HEAD
.idea/.idea/
**/.idea/
Python/Clase06/Teoria/CreamosMasObjetos.py

.idea/
d172c9613566ee838f338a908582bba68d95f230
